body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
    width: 100vw;
    overflow-x: hidden;
}

section {
    width: 100vw;
    padding: 20rem 5vw;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.card-1{
    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    body
    {
      text-align:center;
    }
    
    .BoardName
    {
      color: rgb(24, 59, 186);
        text-shadow: 1px 2px 3px rgb(132, 132, 132);
        font-size: 35px;
        transform-style: preserve-3d;
        transform: translateZ(80px);
        text-align: center;
    }
    h1,h2,h3{
        text-align: center;
    }

    .mm-parallax {
        position: absolute;
        top: 100px;
        left: 100px;
        right: 100px;
        bottom: 100px;
        z-index: 20;
        transform-style: preserve-3d;
    }
    
    
    .impulse-wrap .bg, .impulse-wrap .overlay {
        box-shadow: 0 20px 25px 0 rgba(18,17,30,.35);
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(225, 225, 225);
        opacity: 0.4;
        z-index: 3;
    }
    
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
        background-repeat: repeat;
        background-origin: content-box;
        background-image: url('https://i.pinimg.com/564x/f4/25/cb/f425cb681f05fd2fa9db6b38d687ad0e.jpg');
    }
    
    
    
    
    .hero-corner {
        top: 50px;
        right: 50px;
        z-index: 21;
        border-top: 1px solid;
        border-right: 1px solid;
    }
    
    .hero-corner2 {
        top: 50px;
        left: 50px;
        border-top: 1px solid;
        border-left: 1px solid;
    }
    
    .hero-corner3 {
        bottom: 50px;
        right: 50px;
        border-bottom: 1px solid;
        border-right: 1px solid;
    }
    
    .hero-corner4 {
    bottom: 50px;
        left: 50px;
        z-index: 21;
        border-left: 1px solid;
        border-bottom: 1px solid;
    }
    
    
    
    .hero-corner, .hero-corner2, .hero-corner3, .hero-corner4 {
        position: absolute;
        width: 70px;
        height: 70px;
        z-index: 21;
        border-color: rgba(255,255,255,0.3);
    }
    
    
    .fl-wrap {
        float: left;
        width: 100%;
        position: relative;
      transform: translateZ(80px)
    }
    
    .hero-wrap-item {
        top: 45%;
    }
    
    
}

.card-2{

/* Card   */

.card {
    display: flex;
    background-color: #ac7000;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    max-width: 700px;
    text-align: center;
    transition: transform 0.3s ease-out;
    
    
}

.card:hover {
    transform: translateY(-10px); /* Adjust the amount of jump */
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.card img {
    border-radius: 10px 0 0 10px;
    width: 200px;
    height: auto;
    flex-shrink: 0;
    margin-right: 20px;
    
}

.card h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.card p {
    font-size: 1em;
    margin: 10px 0;
}

}