* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --index: calc(1vw + 1vh);
    --transition: cubic-bezier(.1, .7, 0, 1);
   
}

body{
    background-color: #141414;
}


img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 30vh;
    
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    height: 10vh;
    background-color: #222;
    
}

h1{
    color: #fff;
    font-size: 2rem;
}

a{
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.items{
    display: flex;
    gap: 0.4rem;
    perspective: calc(var(--index) * 35);
    
}

.item{
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 10);
    background-color: #222;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: grayscale(1) brightness(.5);
    transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
    will-change: transform, filter, rotateY, width;
    
}

.item::before, .item::after{
    content: '';
    position: absolute;
    height: 50%;
    width: 20px;
    right: calc(var(--index) * -1);
}

.item::after{
    left: calc(var(--index) * -1);
}

.items .item:hover{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 10));
}

/*Right*/

.items .item:hover + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
    z-index: -1;
}

.items .item:hover + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
    z-index: -2;
}

.items .item:hover + * + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
    z-index: -3;
}

.items .item:hover + * + * + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
    z-index: -4;
}


/*Left*/

.items .item:has( + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items .item:has( + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has( + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has( + * + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items .item:active, .items .item:focus {
	width: 28vw;
	filter: inherit;
	z-index: 100;
	transform: translateZ(calc(var(--index) * 10));
    margin: 0 .45vw;
}
/* Card   */

.card {
    display: flex;
    background-color: #ac7000;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    max-width: 700px;
    text-align: center;
    transition: transform 0.3s ease-out;
    
    
}

.card:hover {
    transform: translateY(-10px); /* Adjust the amount of jump */
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.card img {
    border-radius: 10px 0 0 10px;
    width: 200px;
    height: auto;
    flex-shrink: 0;
    margin-right: 20px;
    
}

.card h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.card p {
    font-size: 1em;
    margin: 10px 0;
}
/* Header   */

a {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

a:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

a:active {
  transform: scale(0.95);
}